.form-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-message .form-message__icon {
  font-size: 48px;
  margin-right: 10px;
  background: var(--gradient-2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
