:root{
  --nav-link-size: 40px;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  width: var(--nav-link-size);
  height: 100%;
  background-color: var(--navbar-color);
  color: var(--color-100);
  text-align: center;
  font-size: 1rem;
  text-wrap: nowrap;
  overflow: hidden;
  transition: width 0.4s;
  /* box-shadow: -4px 0px 6px var(--color-400); */
  z-index: 100;
}

.nav__wrapper {
  height: calc(100% - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: var(--nav-link-size);
  margin-bottom: var(--nav-link-size);
  direction: rtl;
}

.nav__wrapper * {
  direction: ltr;
}

.nav .nav__wrapper::-webkit-scrollbar {
  width: 5px;
}

.nav .nav__wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.nav ul.nav-links {
  list-style: none;
  padding: 0;
  height: fit-content;
  margin: 0;
  user-select: none;
}

.nav ul.nav-links__sub {
  list-style: none;
  padding: 0;
  height: fit-content;
  margin: 0;
  margin-left: 30px;
  font-size: 0.8rem;
  font-weight: 300;
  user-select: none;
}

.nav ul.nav-links__sub .nav-link{
  border-radius: 4px 0px 0px 4px;
}

.nav ul.nav-links__sub a {
  color: inherit;
  height: 100%;
}

.nav .nav-links .nav-link {
  height: var(--nav-link-size);
  interpolate-size: allow-keywords;
  overflow: hidden;
  transition: height 0.218s;
}

.nav .nav-links .nav-link .link {
  display: flex;
  user-select: none;
  flex-direction: row;
  align-items: center;
}

.nav .nav-links .nav-link .link-label {
  display: flex;
  user-select: none;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-100);
  margin: 0;
  height: var(--nav-link-size);
  min-height: var(--nav-link-size);
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 4px 0px 0px 4px;
  interpolate-size: allow-keywords;
  transition: all 0.218s;
}

.nav .nav-links .nav-link .link-label .nav-link__main {
  display: flex;
  flex-direction: row;
  height: var(--nav-link-size);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-links .nav-link .link-label .nav-link__main .nav-link__details{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav .nav-links .nav-link .link-label .nav-link__main .nav-link__details::after{
  font-family: "Material Icons";
  font-size: 1.2rem;
  font-weight: 700;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "arrow_right";
  width: var(--nav-link-size);
  text-align: left;
  transition: display 0.4s, width 0.4s, color 0s;
  transition-behavior: allow-discrete;
}

.nav .nav-links .nav-link .link-label input[type="checkbox"] {
  display: none;
}

.nav .nav-links .nav-link .nav-link__icon {
  min-width: var(--nav-link-size);
  font-size: 1.25rem;
  transition-property: width;
  transition-duration: 0.4s;
}

.nav .nav-links .nav-link .nav-link__text {
  display: none;
  width: 0;
  text-align: left;
  transition: display 0.4s, width 0.4s, color 0s;
  transition-behavior: allow-discrete;
}

.nav:hover {
  width: 250px;
}

.nav:hover .nav-links .nav-link {
  width: calc(100%);
}

.nav:hover .nav-links .nav-link .nav-link__text {
  display: flex;
  width: 100%;

  @starting-style {
    width: 0;
    color: var(--color-100);
  }
}

.nav:hover .nav-links .nav-link .nav-link__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--nav-link-size);

  @starting-style {
    width: 0;
    color: var(--color-100);
  }
}

.nav .nav-links .nav-link .link-label .nav-links__sub .nav-link:hover{
  background-color: var(--color-900);
  font-weight: 400;
  color: var(--color-100);
  transition: all 0.218s;
}

.nav .nav-links .nav-link .link-label:has(input[type="checkbox"]:checked) {
  color: var(--color-100);
  background-color: var(--color-700);
  height: auto;
  transition: all 0.218s;
}

.nav .nav-links .nav-link .link-label:not(:has(input[type="checkbox"]:checked)) .nav-links__sub{
  height: 0px;
  transition: all 0.218s;
}

.nav .nav-links .nav-link .link-label:has(input[type="checkbox"]:checked) .nav-link__main .nav-link__details::after{
  content: "arrow_drop_down";
}

.nav:hover .nav-links .nav-link:has(input[type="checkbox"]:checked) {
  height: auto;
  interpolate-size: allow-keywords;
  transition: all 0.218s;

  @starting-style {
    height: var(--nav-link-size);
    interpolate-size: allow-keywords;
    overflow: hidden;
    transition: all 0.218s;
  }
}

.nav .nav-links .nav-link .link-label .nav-links__sub .nav-link.selected{
  background-color: var(--color-100);
  color: var(--color-700);
  transition: all 0.218s;
}

.nav .nav-links .nav-link .link-label:has(.nav-links__sub .nav-link.selected){
  background-color: var(--color-100);
  border-left: 3px solid var(--color-800);
  color: var(--color-700);
  transition: all 0.218s;
}

.nav:hover .nav-links .nav-link .link-label:has(.nav-links__sub .nav-link.selected) {
  background-color: var(--color-100);
  border-left: 3px solid var(--color-900);
  color: var(--color-700);
  transition: all 0.218s;
}

.nav:hover .nav-links .nav-link .link-label:has(.nav-links__sub .nav-link.selected):has(input[type="checkbox"]:checked) {
  background-color: var(--color-700);
  border-left: 3px solid var(--color-900);
  color: var(--color-100);
  transition: all 0.218s;
}

.nav:hover .nav-links .nav-link .link-label:hover:not(:has(.nav-links__sub .nav-link.selected)), .nav:hover .nav-links .nav-link .link-label:hover:has(input[type="checkbox"]:checked) {
  background-color: var(--color-800) !important;
  color: var(--color-100);
  transition: all 0.218s;
}

.nav .nav-container {
  display: flex;
  user-select: none;
  flex-direction: row;
  text-decoration: none;
  color: var(--text-color-2);
  border-left: 0px solid var(--text-color-4);
  margin: 0;
  min-height: var(--nav-link-size);
  height: var(--nav-link-size);
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: border 0.2s;
}

.nav:hover .nav-container {
  /* animation: bounce 0.2s ease-in 0.01s; */
}

.nav .nav-container .nav__profile {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav .nav-container .nav__profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(var(--nav-link-size) - 10px);
  max-width: calc(var(--nav-link-size) - 10px);
  transition-property: width;
  transition-duration: 0.4s;
  aspect-ratio: 1/1;
}

.nav .nav-container .nav__profile-image-container .nav__profile-image {
  width: calc(var(--nav-link-size) - 10px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: brown;
}

.nav .nav-container .nav__profile {
  display: none;
  justify-content: space-between;
  width: 0;
  font-size: 14px;
  color: var(--color-100);
  text-align: left;
  transition: display 0.4s, width 0.4s, color 0s;
  transition-behavior: allow-discrete;
}

.nav .nav-container .nav__profile .nav__profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 200px;
  padding-left: 10px;
}

.nav .nav-container .nav__profile .nav__logout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-100);
  font-size: 24px;
  border: 0px solid var(--color-900);
  border-left-width: 1px;
  width: calc(var(--nav-link-size) - 1px);
  height: var(--nav-link-size);
  transition: 0.218s;
}

.nav:hover .nav-container .nav__profile .nav__logout:hover {
  border-left-width: 2px;
  background-color: var(--color-900);
  color: var(--color-100);
}

.nav:hover .nav-container .nav__profile {
  display: flex;
  width: 100%;

  @starting-style {
    width: 0;
    color: var(--color-100);
  }
}

.nav .nav__logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--nav-link-size);
  height: var(--nav-link-size);
}

.nav .nav__logo-container .nav__logo {
  width: calc(var(--nav-link-size) - 10px);
  aspect-ratio: 1/1;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav .nav__name {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 0;
  color: var(--color-100);
  text-align: left;
  transition: display 0.4s, width 0.4s, color 0s;
  transition-behavior: allow-discrete;
}

.nav .nav__name .nav__name-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.nav .nav__name .nav__name-version {
  font-size: 10px;
  color: var(--color-400);
  padding-left: 10px;
}

.nav:hover .nav__name {
  display: flex;
  width: 100%;

  @starting-style {
    width: 0;
    color: var(--color-100);
  }
}
