:root {
  --color-900: #2c643f;
  --color-800: #3e8e59;
  --color-700: #54b474;
  --color-600: #a0d41c;
  --color-500: #9eab7c;
  --color-400: #d2e1ad;
  --color-300: #eef9d2;
  --color-200: #f1fadb;
  --color-100: #ffffff;

  --accent-color-1: #0b1739;
  --accent-color-2: #8951ff;
  --accent-color-3: #cb3cff;
  --accent-color-4: #21c3fc;
  --accent-color-5: hsl(0, 0%, 90%);
  --accent-color-6: hsl(0, 0%, 95%);
  --accent-color-7: #ffffff;
  --accent-color-8: #686868;

  --primary-color: var(--color-100);
  --navbar-color: var(--color-700);

  --text-color: #54b474;

  --dark-dark-gray: #3b3b3b;

  --red-light-1: #ef2828;
  --red-light-2: #be0e0e;
  --gradient-red: linear-gradient(135deg, hsl(0, 100%, 65%), hsl(0, 100%, 23%) 70%);

  --green-light-1: #54b474;
  --green-light-2: #3e8e59;
  --gradient-green: linear-gradient(135deg, hsl(133, 100%, 65%), hsl(150, 100%, 23%) 70%);

  --blue-light-1: #1795ee;
  --blue-light-2: #0e75be;
  --gradient-blue: linear-gradient(135deg, hsl(216, 100%, 65%), hsl(216, 100%, 23%) 70%);

  --yellow-light-1: #ffcf55;
  --yellow-light-2: #ffb700;
  --gradient-yellow: linear-gradient(135deg, hsl(48, 100%, 65%), hsl(34, 100%, 23%) 70%);

  --shadow-4-4: 0px 0px 4px 0px #0a1536;
  --shadow-2-2: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);

  --shadow-0-0-1: 0px 0px 1px 0px rgba(0, 0, 0, 0.35);
  --shadow-2-2-2: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);

  --shadow--2--2-2: -2px -2px 2px 0px rgba(0, 0, 0, 0.25);

  --shadow-primary: var(--shadow-0-0-1), var(--shadow-2-2-2);
  --shadow-inverted-primary: var(--shadow--2--2-2), var(--shadow-2-2-2);

  --sub-border-radius: 4px;

  --overlay-bg-color: rgba(0, 0, 0, 0.65);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-100);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, var(--color-700), var(--color-800) 70%);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(from var(--color-800) );
}
